Repository run-llama/workflows-py, pull requests merged in 2025-09, with the labels that each got.

#89 feat: Add POST /events/{handler_id} endpoint and /handlers endpoint
  pyproject.toml
  src/workflows/server/server.py
  tests/server/conftest.py
  tests/server/test_server_endpoints.py
  uv.lock
Labels: enhancement

#96 Flatten docs pages
  docs/docs/workflows/customizing_entry_exit_points.md
  docs/docs/workflows/drawing.md
  docs/docs/workflows/index.md
  docs/docs/workflows/managing_events.md
  docs/docs/workflows/managing_state.md
  docs/docs/workflows/resources.md
  docs/docs/workflows/retry_steps.md
  docs/docs/workflows/v2/index.md
Labels: documentation

#97 wait_for_event not handling correctly events that inherited from Event
  src/workflows/context/context.py
Labels: bug

#101 Add better error handling and lifecycle handling to workflow server
  src/workflows/handler.py
  src/workflows/server/server.py
  src/workflows/workflow.py
  tests/server/test_server_endpoints.py
  tests/server/test_server_persistence.py
Labels: bug

#113 able to pass in previous handler ID to continue runs in WorkflowServer
  src/workflows/server/server.py
  tests/server/conftest.py
  tests/server/test_server_persistence.py
Labels: enhancement

#115 Filter internal events in workflow consumer
  src/workflows/server/server.py
  tests/server/test_server_endpoints.py
Labels: enhancement
